.header {
  height: fit-content;
  padding-top: 141px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fab81f;
  background-image: url("https://www.transparenttextures.com/patterns/black-thread.png");
}