html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/* STYLING: NAVIGATION BAR: */

@media screen and (max-width: 768px) {
  .nav {
    display: flex;
    flex-direction: row;
    position: fixed;
    background-color: solid #4056A1;
    height: 120px;
    width: 100vw;
    font-size: 40px;
    font-family: 'Bungee', cursive;
    color: #FFFFFF; 
    padding: 1.5em;
    justify-content: space-between;
  }
}

.i {
  display: flex;
  padding: 1.5em;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Source Sans 3', sans-serif;
}