.tweet-container.tweet {
  background-color: inherit;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 5px;
  transition: box-shadow 0.3s ease;
}

 .new-tweet {
  display: flex;
  flex-direction: row;
  margin: 0.5em;
  padding: .5em;

  background-color: inherit; 

} 

.tweet-button {
  background-color: #4056A1;
  color: #f4f1ec;
  margin: 2em;
  font-family: 'Bungee', cursive;}

.counter {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 2em;
  font-family: 'Bungee', cursive;
}

.tweet {
  border: .5em solid rgb(168, 161, 157);
  margin: 1.5em;
 padding: 1.5em;
 border-radius: 8px;
 border-style: outset;
}
.tweet:hover {
  box-shadow: 0 0 2em cornflowerblue
}

.limit-exceeded {
  color: red;
}

footer {
  display: flex;  
  justify-content: flex-end;
}

.tweet-label {
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
};

#tweet-text {
  background-color: inherit;
  display: flex;
  flex-direction: row;

}
