#tweetForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: inherit; 
} 

.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  width: 100%;
  background-color: inherit; 
}
.tweet-button {
  display: flex;
  flex-direction: row;
align-items: flex-start;
  background-color: #4056A1;
  color: #f4f1ec;
  margin: 2em;
  font-family: 'Bungee', cursive;}


.tweet-button:hover {
  box-shadow: 4px 4px 4px rgb(114, 139, 117)
}

.counter {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 2em;
  font-family: 'Bungee', cursive;
}

.tweet {
  display: flex;
  flex-direction: column;
  border: .5em solid rgb(168, 161, 157);
  margin: 1.5em;
  padding: 1.5em;
  border-radius: 8px;
  border-style: outset;
  position: relative;

}


.tweet:hover {
  box-shadow: 8px 8px 8px rgb(114, 139, 117)
}

.limit-exceeded {
  color: rgb(194, 4, 4);
  text-decoration: red wavy overline;
}

footer {
  display: flex;  
  justify-content: flex-end;
}

.tweet-label {
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
};

#tweet-text {
  background-color: inherit;
  display: flex;
  flex-direction: row;
  border: none;
  width: 100%;
}

.tweet-text {
  display: flex;
  flex-direction: row;
  width: 100%;
background-color: inherit;
border: none;
  padding: 1.5em;
}

.tweet-icons {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 1.112782372637826em;
  right: 1em;
}

.tweet-icons a:hover i {
  color: #ff00e6;
}

.avatar {
  width: 60px; 
  height: 60px;
  margin-right: 10px;
}

.user-details {
  display: flex;
  align-items: center;
}

.name-handle {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.name-handle p {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.user-name {
  margin: 0;
}

.user-handle {
  color:rgb(168, 161, 157);
  margin-left: auto;
}

.tweet-line {
  border-bottom: 2px solid rgb(0, 0, 0); 
  padding-bottom: 10px;
}
